<igx-hierarchical-grid #grid1 [data]="remoteData" [rowEditable]="true" [primaryKey]="'id'" [autoGenerate]="false"
    [height]="null" [width]="'763px'" [showToolbar]="true" #hGrid>
    <igx-column field="name" header="Name" [dataType]="'string'" [width]="'400px'"></igx-column>
    <igx-column field="age" header="Age" [dataType]="'number'" [width]="'200px'"></igx-column>
    <igx-column width="90px">
        <ng-template igxCell let-cell="cell">
            <button igxButton="icon" (click)="removeRow(cell.row.rowID, cell.grid)">
                <igx-icon>delete</igx-icon>
            </button>
        </ng-template>
    </igx-column>
    <igx-row-island #rowIsland1 [key]="'vacations'" [height]="'300px'" [primaryKey]="'id'" [autoGenerate]="false"
        (onGridCreated)="gridCreated($event, rowIsland1)" [rowEditable]="true" [showToolbar]="true">
        <igx-column field="from" header="From" [dataType]="'date'" [formatter]="formatDate"></igx-column>
        <igx-column field="to" header="To" [dataType]="'date'" [formatter]="formatDate"></igx-column>
        <igx-column width="90px">
            <ng-template igxCell let-cell="cell">
                <button igxButton="icon" (click)="removeRow(cell.row.rowID, cell.grid)">
                    <igx-icon>delete</igx-icon>
                </button>
            </ng-template>
        </igx-column>
        <ng-template igxToolbarCustomContent let-context="grid">
            <button igxButton="raised" (click)="openVacationDialog(context)">Add Vacation</button>
        </ng-template>
    </igx-row-island>
    <ng-template igxToolbarCustomContent let-context="grid">
        <button igxButton="raised" (click)="dialogEmployee.open(context)">Add Employee</button>
    </ng-template>
</igx-hierarchical-grid>

<div class="sample-actions">
    <button igxButton="raised" (click)='commitAllTransactions()'>Commit</button>
</div>

<igx-dialog #dialogEmployee title="New Employee" [rightButtonLabel]="'Add'" [leftButtonLabel]="'Cancel'"
    (onLeftButtonSelect)="cancel()" (onRightButtonSelect)="addEmployee()">
    <div class="dialogNewRecord">
        <igx-input-group>
            <label igxLabel for="name">Name</label>
            <input igxInput id="name" type="text" [(ngModel)]="newEmployee.name" />
        </igx-input-group>
        <igx-input-group>
            <label igxLabel for="age">Age</label>
            <input igxInput id="age" type="number" [(ngModel)]="newEmployee.age" />
        </igx-input-group>
    </div>
</igx-dialog>

<igx-dialog #dialogVacation title="New Vacation" [rightButtonLabel]="'Add'" [leftButtonLabel]="'Cancel'"
    (onLeftButtonSelect)="cancel()" (onRightButtonSelect)="addVacation()">
    <div class="dialogNewRecord">
        <igx-date-picker [(ngModel)]="newVacation.from">From</igx-date-picker>
        <igx-date-picker [(ngModel)]="newVacation.to"></igx-date-picker>
    </div>
</igx-dialog>